#container {
  font-family: Arial, Helvetica, sans-serif;
  height: 350;
  background-color: #f6fbff;
  position: relative;
}
nav {
  margin: 0;
  position: absolute;

  ul {
    background-color: rgb(220, 230, 250);
    padding: 10px;
    list-style-type: none;
  }

  div>label {
    font-weight: bold;
  }

  input[type=number] {
    width: 50px;
  }
}

.right-nav {
  right: 10px;
  top: 10px;
}

.left-nav {
  left: 10px;
  top: 10px;
}
